@media (max-width: 650px){
	.header{
		.container{
			.row{
				h1{
					position: relative;
					bottom: 20px;
					right: 120px;
					font-family: $titulo;
					font-weight: $bold;
					width: 300px;
				}

				.btn{
					position: relative;
					bottom: 10px;
					right: 100px;
				}
			}
		}
	}
}

@media (max-width: 330px){
	.header{
		.container{
			.row{
				h1{
					position: relative;
					bottom: 20px;
					right: 130px;
					font-family: $titulo;
					font-weight: $bold;
					width: 200px;
				}

				.btn{
					position: relative;
					bottom: 10px;
					right: 120px;
				}
			}
		}
	}
}

@media (min-width: 1600px){
	.header{
		.container{
			background-size: cover;
		}
	}
}
